.showaddscholarshipbtn{
    height: 3rem;
    width: 30%;
    margin-left: 35rem;
    background-color: rgb(133, 89, 236);
    color:white;   
    margin-top: 2rem; 
    margin-bottom: 1rem;
}

.showaddscholarshipbtn:hover{
    background-color: green;
}
.adminpagecontents{
    background: rgb(245, 234, 234);
   display: flex;
   flex-direction: column;
   justify-content:flex-start;
   width: 60%;
   margin-left: 20rem;
   border-radius: 12px;
   margin-top: 1rem;
   box-shadow: 1px 3px #888888;
   margin-bottom: 1rem;
}
.adminpagecontents h2{
    margin-left:15rem;
    
}
.into{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    
}
.maincontents{
  margin-left: 12rem;
    margin: 0.5rem;
}
.maincontents span{
font-weight: 500;
letter-spacing: 1px;
}
.maincontents input{
   width: 90%;
   height: 5vh;
   border-radius: 5px;
   font-weight: 600;
   border-color: aqua;
   
}
.maincontents textarea{
    width: 90%;
    font-weight: 500;
    border-color: none;
   
    border-color: rgb(207, 235, 235);
}
.addscholarshipbtn{
    height: 2.5rem;
    width: 50%;
    background-color: green;
    color: white;
    margin-left: 12rem;
}
.scholarshipaddingerr{
    text-align: center;
    color: red;
    font-size: 12px;
}
.scholarshiplists{
   background-color: rgb(252, 245, 245);
   display: flex;
   flex-direction: row;
  align-items: center;
   margin-left: 3rem;
   border-radius: 10px;
   box-shadow:1px 5px  #888888;
   margin-bottom: 1rem;
   
}
.scholarshipcontents{
    flex: 70%;
    margin: 1rem;

}
.scholarshipbuttons{
    flex: 30%;
}
.scholarshiplabels{
    margin: 1rem;
    margin-left: 1rem;
}
.scholarshiplabels span{
    font-weight: 500; 
}
.scholarshiplabels label{
   font-weight: 600;
   font-size: 15px;
   margin-left: 1rem;

}
.scholarshiplabels textarea{
    font-weight: 500;
    font-size: 15px;
    border: none;
}
.title{
    font-weight: 700;
    text-align: center;
}
.scholarshipbuttons{
    margin-left: 5rem;
}
.buttons{
        margin: 3rem;
        cursor: pointer;
}
.popupbox{
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%,-50%);
    background-color: rgb(240, 234, 234);
    border-radius: 12px;
    height: fit-content;
    width: 60%;  
    margin-left: 4rem;
    margin-top: 3rem;
}
.backgrounds{
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-50%,-50%);
    background-color: rgb(250, 250, 250);
    border-radius: 12px;
    height: 100%;
    width: 100%;  
    margin-left: 4rem;
    opacity: 0.7;
}
.nobtn{
    background-color: green;
    color: white;
    margin-left: 2rem;
}
.yesbtn{
    background-color: red;
    color:white;
    margin-left: 3rem;
}
.popupelements p{
font-weight: 600;
margin-left: 2rem;
}
.closeaddscholarshipform{
    margin-left: 97%;
    cursor: pointer;
}
